item-content-accordion(
  v-if='kontr',
  :icon.once='operation',
  :title.once='title')
  .badge.badge-clear(slot='after') {{* date }}

  .table-shadow(slot='accordion',)
    container-item-table(
      :transport.once='transport',
      :kontr.once='kontr')

item-content(
  v-else
  :icon.once='operation',
  :title.once='title')
  .badge.badge-clear(slot='after') {{* date }}
