.toolbar.tabbar.toolbar-bottom
  .toolbar-inner
    a.tab-link(href='#tab-containers').active
      //- icon(id='containers')
      span.tabbar-label {{ $t('containers.title.main') }}
    a.tab-link(href='#tab-bills')
      //- icon(id='bills')
      span.tabbar-label {{ $t('bills.title') }}
    a.tab-link(href='#tab-advance')
      //- icon(id='advance')
      span.tabbar-label {{ $t('advance.title') }}
