.card
  .card-header
    slot(name='header') {{* header }}
  .card-content
    .card-content-inner
      slot(name='content') {{* content }}
  .card-footer
    slot(name='footer') {{* footer }}
