svg(
  xmlns='http://www.w3.org/2000/svg',
  xmlns:xlink='http://www.w3.org/1999/xlink',
  :viewBox.once='viewBox',
  class='#{style.icon} {{* class }}',
  :style.once='style')
  use(:xlink:href='id')
