:local .title {
  :global(div.item-title-row) {
    padding-right: 26px;
  }

  :global(div.item-text) {
    max-height: none;
    -webkit-line-clamp: 40;
  }
}

:local div.total {
  color: #FFF;
  background-color: #a0a0a0;
}