.popover(class=style.popover, v-el:popover)
  .popover-angle
  .popover-inner
    .list-block
      ul: li(v-for='lang in langs')
        a.list-button.item-link(
          :href="'#' + lang.key",
          @click="changeLang(lang.key)")
          | {{* lang.value }}
